{% extends 'base.html' %}
{% block css %}
    <style>
        .a {
            margin-top: 1px;
        }
    </style>
{% endblock %}
{% block content %}

    <div class="col-lg-12">
        <div class="card">
                            <div class="card-header">
                                <strong class="card-title">产品列表</strong>
                                    <input onclick="addproduct()" type="button" class="btn btn-outline-success" value="添加产品">
                            </div>
                            <div class="card-body">

                            <table class="table">
                                    <thead>
                                        <tr>
                                          <th scope="col">产品id</th>
                                          <th scope="col">产品名称</th>
                                          <th scope="col">创建时间</th>
                                          <th scope="col">更新时间</th>
                                          <th scope="col">描述</th>
                                          <th scope="col">是否删除</th>
                                      </tr>
                                  </thead>
                                  <tbody>
                                      {% if product_list %}
                                      {% for product in product_list %}
                                        <tr>
                                            <th scope="row">{{ product.id }}</th>
                                            <td>{{ product.product_name }}</td>
                                            <td>{{ product.created_at }}</td>
                                            <td>{{ product.updated_at }}</td>
                                            <td>{{ product.description }}</td>
                                            <td>{{ product.abandon_flag }}</td>
                                        </tr>
                                      {% endfor %}
                                      {% else %}
                                          <tr>
                                            <td colspan="6">
                                                <label>当前列表为空！请添加后刷新</label>
                                            </td>
                                          </tr>

                                      {% endif %}
                                    </tbody>
                            </table>
                        </div>
                    </div>
    </div>
{% endblock %}
{% block js %}
    <script type="text/javascript">
    function addproduct() {
            jQuery.ajax({
                url:'/addproduct/',
                data:{name:'aaa'},
                cache:false,
                async:false,
                type:"POST",
                dateType:'Text',
                success:function (text) {
                    alert(text);
                    location.reload();
                }
            })
        }
    </script>
{% endblock %}