{% load static %}
    <link rel="stylesheet" href="{% static 'assets/css/normalize.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/font-awesome.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/themify-icons.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/pe-icon-7-filled.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/flag-icon.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/cs-skin-elastic.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.min.js"></script> -->
    <link href="{% static 'assets/weather/css/weather-icons.css' %}" rel="stylesheet" />
<link href="{% static 'assets/calendar/fullcalendar.css' %}" rel="stylesheet" />

<link href="{% static 'assets/css/charts/chartist.min.css' %}" rel="stylesheet">
<link href="{% static 'assets/css/lib/vector-map/jqvmap.min.css' %}" rel="stylesheet">
<style>
    #weatherWidget .currentDesc {
        color: #ffffff!important;
    }
        .traffic-chart {
            min-height: 335px;
        }
        #flotPie1  {
            height: 150px;
        }
        #flotPie1 td {
            padding:3px;
        }
        #flotPie1 table {
            top: 20px!important;
            right: -10px!important;
        }
        .chart-container {
            display: table;
            min-width: 270px ;
            text-align: left;
            padding-top: 10px;
            padding-bottom: 10px;
        }
        #flotLine5  {
             height: 105px;
        }

        #flotBarChart {
            height: 150px;
        }
        #cellPaiChart{
            height: 160px;
        }

    </style>